/* This is the header part */
* {
    font-family: Lato;
}

.container {
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
}

.header-container {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-description"{
 color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

button {
    border-radius: 8px;
    background-color:  #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}